/* Curriculum styles */

body {
    padding-top: 3em;
    font-family: Lato, "Lucida Grande", "Droid Sans", sans-serif;
    font-size: 2em;
}

h1, h2, h3 {
    font-family: Lato, "Lucida Grande", "Droid Sans", sans-serif;
    font-weight: bold;

}

h1 {
    font-size: 3em;
    margin-bottom: 1em;
}

h1 img {
    margin: 0 2em;
}

section > h2 {
    margin-bottom: 30px;
}

section {
    padding: 1em 0 2em 0;
}

section + section {
    border-top: 1px solid #eee;
}

.where, .when {
    color: #999;
    display: block;
}

h3 .where, h3 .when {
    font-size: 0.7em;
}

.when {
    font-style: italic;
}

.education .where:before {

}

.education .minor {
    font-size: 0.8em;
}

.work .what {
    padding-left: 40px;
}

.work h3 {
    margin: 20px 0;
}

.work .when {
    display: inline-block;
    margin-left: 2em;
}

.work h4 {
    font-weight: bold;
    margin-top: 20px;
}

@media (max-width: 992px) {
    
    h1 {
        font-size: 2.5em;
        text-align: center;
    }

    h1 img {
        margin: 0 1em;
    }
}

/* Say Hi to small screens */
@media (max-width: 768px) {

    h1 {
        font-size: 2em;
        line-height: 2em;
    }

    h1 img {
        display: block;
        margin: 0 auto;
    }

    .work .what {
        padding-left: 0;
    }
}
