/* Curriculum styles */

body {
    padding-top: 3em;
    font-family: Lato, "Lucida Grande", "Droid Sans", sans-serif;
    font-size: 2em;
}

h1, h2, h3 {
    font-family: Lato, "Lucida Grande", "Droid Sans", sans-serif;
    font-weight: bold;
}

h1{
    font-size: 3em;
}

section a,
footer a {
    color: #333;
    border-bottom: 1px dotted #C95936;
}

section a:hover, section a:focus,
footer a:hover, footer a:focus {
    color: #C95936;
    border-bottom: 1px solid #C95936;
    text-decoration: none
}

header {
    margin-bottom: 1em;
}

header h1 + a {
    width: 128px;
    margin: 10px auto;
    display: block;
}

header h1, .contacts {
    text-align: center
}

.contacts li {
    margin: 0 5px
}

.contacts li a {
    color: #aaa;
}

.contacts li a:focus,
.contacts li a:hover {
    color: #C95936;
}

.contacts li span {
    display: none
}

section > h2 {
    margin-bottom: 30px;
}

section {
    padding: 1em 0 2em 0;
}

h3 {
    margin-top: 30px;
    margin-bottom: 5px;
}

.meta{
    color: #999;
    display: block;
    font-size: 0.7em;
    margin-bottom: 10px;
}

.meta i + i {
    margin-left: 15px;
}

.work .what {
    margin-left: 5px;
    padding-left: 15px;
    border-left: 1px dotted gray;
}

.work h4 {
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 0
}

.work h4:before {
    content: "";
    border-top: 1px dotted gray;
    width: 10px;
    height: auto;
    display: block;
    position: relative;
    left: -15px;
    top: 10px;
}

footer {
    font-size: 0.8em;
    margin-top: 40px;
    padding: 20px 0;
    background: #eee;
}

footer span + span {
    margin-left: 20px;
}

footer .site,
footer .legal {
    display: none;
}

@media (min-width: 1200px) {
    .container {
        width: 970px;
    }
}

@media (max-width: 992px) {
    
    h1 {
        font-size: 2.5em;
        text-align: center;
    }

    header img {
        margin: 0 auto;
        display: block;
        float: none;
    }
}

/* Say Hi to small screens */
@media (max-width: 768px) {
    
    body {
        padding-top: 1em;
    }

    h1 {
        font-size: 2em;
        line-height: 2em;
    }

    header img {
        display: block;
        margin: 0 auto;
    }

    .work .what {
        margin-left: 0;
        padding-left: 0;
        border-left: none;
    }

    .work h4:before {
        display: none;
    }

    footer span + span {
        display: block;
        margin-left: 0;
    }
}

@media print {

    body {
        padding-top: 0;
        font-size: 13px;
    }

    section a,
    footer a {
        color: #000;
        text-decoration: none;
        border-bottom: 1px dotted #000;
    }

    h1 {
        font-size: 2em;
        float: left;
    }
    
    h1, h2, h3, h4, .work h4 {
        font-weight: normal
    }
    
    h3 {
        margin-top: 10px;
    }

    header h1 + a {
        float: right;
    }

    header img{
        width: 100px
    }

    .contacts {
        text-align: left;
        clear: both;
        padding-left: 0;
    }

    .contacts li i.fa-2x {
        font-size: 1em;
    }

    .contacts li span {
        display: inline-block;
    }

    .list-inline > li {
        display: block;
    }

    section {
        padding-top: 0;
        padding-bottom: 0
    }

    section > h2 {
        margin-bottom: 10px;
    }

    footer {
        background: none;
        margin-top: 20px;
        padding-bottom: 0;
    }

    footer span + span {
        margin-left: 0;
    }

    footer .translate,
    footer .print {
        display: none
    }
    
    footer .site,
    footer .legal {
        display: block;
    }
}